.PersonTable {
  color: black;
  margin: 5em;
  width: calc(100vw - 10em);
}

.PersonTable th {
  padding: 10px;
  border: 2px solid rgba(0, 0, 0, 0.288);
}

.PersonTable td {
  padding: 0.5em;
  overflow: unset;
  border: 2px solid rgba(0, 0, 0, 0.288);
}

.PersonTable thead :nth-child(3) {
  width: 160px;
}

.PersonTable td:nth-child(1) {
  min-width: 225px;
}
.PersonTable td:nth-child(2) {
  min-width: 225px;
}
