.PersonTable {
  color: black;
  margin: 2em;
  width: calc(100vw - 10em);
}

.PersonTable th {
  padding: 2px 5px;
  border: 2px solid rgba(0, 0, 0, 0.288);
  background-color: #756d6da6;
}

.PersonTable td {
  padding: 2px 5px;
  overflow: unset;
  border: 2px solid rgba(0, 0, 0, 0.288);
}

.PersonTable thead :nth-child(4) {
  width: 160px;
}

.PersonTable td:nth-child(1) {
  min-width: 225px;
  max-width: 260px;
}
.PersonTable td:nth-child(2) {
  min-width: 225px;
  max-width: 260px;
}
